# --- Media & ML Weights ---
*.mp4
*.avi
*.mkv
*.wav
*.pt
*.pth
*.bin
*.onnx
models/
weights/

.env
.env.local
.env.*.local

# --- Python ---
__pycache__/
*.py[cod]
.venv/
venv/

# --- Kotlin & Java ---
*.class
.gradle/
build/
out/

# --- Go ---
video-engine/video-engine
video-engine/main
video-engine/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# --- C++ ---
*.o
*.obj
*.so
*.dll
*.exe
cmake-build-*/
.vs/

# --- Frontend (React) ---
node_modules/
dist/
.next/

# --- IDEs & OS ---
.idea/
.vscode/
.DS_Store
.DS_Store
*.swp
*.swo

# --- Локальные данные баз данных ---
postgres_data/
minio_data/
qdrant_data/
*.db
*.sqlite
data/