.dragAndDropZone {
  border: 3px dotted var(--accent-color);
  width: 240px;
  min-height: 60px;
  border-radius: 12px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dragging {
  border-color: var(--green);
}

.dragText {
  color: var(--text-primary-color);
  pointer-events: none;
  text-align: center;
  margin: 0;
}
