.hidden {
  display: none;
}

.uploadProgress {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--header-color);
  padding: 12px;
  border-radius: 12px;
  border: 1px solid var(--separator-color);
  display: flex;
  flex-direction: column;
  gap: 12px;

  width: 350px;
  z-index: 1000;

  transition: width 0.3s ease-in-out;
}

.uploadProgressCollapsed {
  width: 140px;
  gap: 0;
}

.hidden {
  visibility: hidden;

  opacity: 0;
  width: 0;
  height: 0;
}

.downloadContainer {
  display: flex;
  justify-content: space-between;
}

.progressList {
  display: flex;
  flex-direction: column;
  gap: 12px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.downloadTitle {
  color: var(--text-primary-color);
}

.taskItem {
  display: flex;
  flex-direction: column;
}

.separator{
  width: 100%;
  height: 1px;
  background-color: var(--separator-color);
}

.task{
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.taskTitle {
  color: var(--text-secondary-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  min-width: 0;
}

.progress{
  color: var(--text-primary-color);
}

.progressBarWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.progressBar{
  background-color: var(--green);
  border-radius: 3px;
  height: 6px;
}

.statusTitle{
  color: var(--text-primary-color)
}

.statusContainer {
  display: flex;
  gap: 8px;
  flex-shrink: 0;
}

.UPLOADING {
  color: grey
}

.SUCCESS {
  color: var(--green)
}

.ERROR {
  color: red
}

.closeBtn {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: solid 2px var(--separator-color);
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;

  color: var(--text-primary-color);
}

.collapseBtn {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 12px;
}