:root {
    --background-color: #edeef0;
    --header-color: #ffffff;

    --accent-color: #a070e8;

    --button-color: #a070e8;
    --button-hover-color: #6944A1FF;

    --separator-color: #c0c4c9;
    /* --separator-color: #dce1e6; */

    --white: #ffffff;
    --green: #3d9f2d;

    --text-primary-color: #2b2b2f;
    --text-secondary-color: #8392a5;
    --text-tertiary-color: #64748b;

    --error-color: #ff4d4f;
    --uploading-color: #848dbe;
    --uploaded-color: #77a4ce;
    --processing_media-color: #d1a260;
    --processing_ml-color: #c466c4;
}

[data-theme='dark'] {
    --background-color: #141414;
    --header-color: #222222;

    --accent-color: #a070e8;

    --button-color: #a070e8;
    --button-hover-color: #6944a1;

    --separator-color: #363738;

    --white: #ffffff;
    --text-primary-color: #ffffff;
    --text-secondary-color: #8392a5;
    --text-tertiary-color: #64748b;

}